
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/home";



.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    /* use this if anmimations behave wierd*/ 
    backface-visibility: hidden; /* hides the back view of an item|div|bg, like if you were viewing from behind */ 
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400px;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1.4s;
        animation-timing-function: ease-out;
    
        /* animation-delay: 3s;
        animation-iteration-count: 3; */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation-name: moveInRight;
        animation-duration: 1.4s;
        animation-timing-function: ease-out;
    }
}




